.list-group-item {
    background-color: #e3f2fd; 
    border-color: #bbdefb; 
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 20px; 
  }